.portada__atractivos{
    
    position: relative;
    img{
        width: 100%;
        opacity: 0.9;
        filter: brightness(0.15);
    }

    h1{
        position: absolute;
        top:45%;
        color:white;
        font-weight: 700;
    }

}

.card__atractivo{
    width: 90vw;
    margin: 1rem 0 1rem 0;
    /* border: solid 2px #065658 ; */
    
    background-color: #efefef;
    border-radius: 5px 30px 5px 30px;
    h4{
        font-weight: 600;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 50%, rgba(255,255,255,1) 100%);
        border-radius: 0 0 5px 5px;
    }

    p{
        width: 80%;

    }

    img{
        width: 100%;
        border-radius: 5px 30px 5px 5px;
    }
   
}

.guias{
    width: 85%;
    border: #065658 2px solid;
    border-radius: 10px;

    img{
        width: 27vw;
        border: #e6e6e6 3px solid;
        border-radius: 50%;
    }

    a{
        text-decoration: none;
        color: white;
        background-color: #065658;
        border-radius: 20px;
        background: rgb(0,108,111);
        background: linear-gradient(180deg, rgba(0,108,111,1) 18%, rgba(6,86,88,1) 66%);
    }
}

@media (min-width: 768px) {
    .portada__atractivos{
        overflow-y: hidden;
        height: 50vh;
        
        img{
            width: 100%;
            height: auto;
            position: absolute;
            top:-50%;
        }
        h1{
            font-size: clamp(1.5rem, 4vw, 3.2rem);
            top:40%;
        }
        
    }

     .card__atractivo{
        width:50%;
    } 

    .guias{
        width: 40%;
        img{
            width: 10vw;
        }
    }
}