.banner__inicio{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img__principal{
        width: 100%;
        height: 100vh;
        background-image: url(/public/bannerInicio.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-position: center 30% ;
    }
    h1{
        position:absolute;
        bottom: 20vh;
        width: 80%;
        text-align: center;
        color: white;
    }

    svg{
        position:absolute;
        bottom: 12vh;
        fill:white;
        width: 3rem;
        animation: subirBajar 2s ease-in-out infinite;
    }
    

    @keyframes subirBajar {
        0% {
          transform: translateY(0); /* Posición inicial */
        }
        50% {
          transform: translateY(-20px); /* Subir */
        }
        100% {
          transform: translateY(0); /* Volver a la posición inicial */
        }
      }
}

.noticias, .eventos{
    h4{
        color:white;
        background: rgb(0,138,140);
        background: linear-gradient(180deg, rgba(0,138,140,1) 0%, rgba(6,86,88,1) 58%);
        text-align: center;
    }
    .intro{
        width: 90%;
        margin-bottom: 1rem;
        button{
            background-color: white;
            border: none;
        }
        .modal-header{
            background-color: #065658;
            color: white;
            font-weight: 600;
        }
        h5{
            font-weight: 600;
            text-align: left;
            padding-top: 0.5rem;
        }
    }

    a{
        color:#065658 ;
        text-decoration: underline;
    }
    p{
        text-align: right;
        font-size: 0.7em;
    }
}

@media (min-width: 768px) {
    .noticias{
        
            .intro{
                width: 20vw;
                margin-bottom: 1rem;
                button{
                    background-color: white;
                    border: none;
                }
                h5{
                    font-weight: 600;
                    text-align: left;
                    padding-top: 0.5rem;
                }
        }
}
}